In [ ]:
!pip install pandas

In [13]:
from src.enum.setup.Paths import Paths
from src.enum.setup.FileName import FileName
from src.enum.setup.FileFormat import FileFormat
from src.enum.setup.Scenario import Scenario
from src.enum.setup.City import City
from src.settings.Settings import Settings
from src.utils import utils
import pandas as pd
from src.enum.identifiers.Statistic import Statistic as StatisticIdentifier

In [14]:
env_settings = Settings()
CITY = City(env_settings.CITY)
SCENARIO = Scenario(env_settings.SCENARIO)

In [15]:
input_absolute_path_to_file = utils.generate_absolute_path_to_file(
    Paths.SIM_OUTPUT,
    FileName.DRIVERS_STATS,
    FileFormat.JSON,
    SCENARIO,
    CITY
)

drivers_sim_stats = utils.read_file_from_absolute_path_to_file(
    input_absolute_path_to_file,
    FileFormat.JSON
)

df_drivers = pd.json_normalize(
    drivers_sim_stats.values(),
)

In [16]:
df_drivers.head()

,id,start_timestamp,rides_id_list,moving_to_tazs,remotion_timestamp,remotion_reason
0,driver_0,2.0,"[ride_2, ride_158, ride_363, ride_640, ride_677]",[],1922.0,STOP_WORK
1,driver_1,2.0,"[ride_5, ride_118, ride_209, ride_319, ride_454]",[],1643.0,STOP_WORK
2,driver_2,6.0,"[ride_6, ride_249, ride_332, ride_487]",[],1599.0,STOP_WORK
3,driver_3,7.0,"[ride_7, ride_99, ride_280, ride_630]",[],1886.0,STOP_WORK
4,driver_4,7.0,"[ride_8, ride_179, ride_418]",[],1408.0,STOP_WORK

In [17]:
df_drivers.shape

(531, 6)

In [18]:
df_drivers_remove = df_drivers.groupby([StatisticIdentifier.REMOTION_REASON.value])[[StatisticIdentifier.REMOTION_REASON.value]].value_counts()
df_drivers_remove = df_drivers_remove.reset_index(name='count')
df_drivers_remove.head()

                              remotion_reason  count
0                            SET_ROUTE_FAILED      5
1                                   STOP_WORK    164
2  TRACI_FORCED_CUSTOMER_REMOTION_DURING_RIDE      3
3               UNPROFITABLE_SURGE_MULTIPLIER     15